@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

#cover-page {
    background-image: linear-gradient(to top, #42858C, #5DA399);
    margin: 10px;
    border-radius: 15px;
    border-style: ridge;
    border-color: #35393C;
    padding-bottom: 30px;
    margin-bottom: 5vh;

    /* box-shadow: 7px 11px 5px 5px #eae8e8; */

}

#cover-page>h1 {
    text-align: center;
    color: whitesmoke;
}

#cover-page-inner {
    justify-content: space-between;
    display: flex;
    color: whitesmoke;
}

#cover-page-inner>img {
    width: 500px;
    margin-right: 10px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-right: 15%;
}

  .home-btn {
    font-family: 'Poppins';
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    color: whitesmoke;
    background: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 4px;
    cursor: pointer;
    position: relative;
    z-index: 0;
    transition: 0.5s ease-in-out;
}

.home-btn:before {
    content: '';
    background: linear-gradient(45deg, #397367, #63CCCA, #5DA399, #42858C, #3FF4EB, #397367, #63CCCA, #5DA399, #42858C);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.home-btn:active {
    color: #000
}

.home-btn:active:after {
    background: transparent;
}

.home-btn:hover {
    transform: scale(1.05);
}

.home-btn:hover:before {
    opacity: 1;
}

.home-btn:after {
    z-index: -1;
    content: '';

    position: absolute;
    width: 100%;
    height: 100%;
    background: #35393C;
    left: 0;
    top: 0;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* ----------------------------------------------------- slideshow styling --------------------------------------------------------------*/

.slider {
    width: 500px;
    height: 300px;
    background-color: yellow;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0px;
    margin-bottom: 60px;
    text-align: center;
    overflow: hidden;
  }
  .image-container {
    width: 1500px;
    background-color: pink;
    height: 300px;
    clear: both;
    position: relative;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
  }
  .slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
  }
  #slide-1:target ~ .image-container {
    left: 0px;
  }
  #slide-2:target ~ .image-container {
    left: -500px;
  }
  #slide-3:target ~ .image-container {
    left: -1000px;
  }
  .buttons {
    position: relative;
    top: -20px;
  }
  .buttons a {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: #5DA399;
  }


@media only screen and (max-width: 600px) {
  .home-btn {
    width: fit-content;
    font-size: 10px;
  }

}