/* to show that we have an actual nav bar - clearer -- find another colour for nav bar */
.nav-bar>ul {
    background-color: #35393C;
    /* position: fixed; */
    /* top: 0;
    left: 0;
    right: 0; */
    height: 80px;
    display: flex;
    align-items: center;
    /* box-shadow:0 8px 6px -6px rgb(126, 126, 126); */
}

/* add logo to the nav bar */

.nav-ul {
    list-style: none;
    display: inline;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}


nav>ul>li>a {
    color: #63CCCA;
    text-decoration: none;
    /* font-family: 'Red Hat Mono', monospace; */
    font-weight: bolder;
    font-size: medium;
}

nav>ul>li>a:hover {
    color: #81e2a8;
    /* border: solid;  */
    border-radius: 10%;
    /* padding: 20px; */
    font-size: medium;

}

/* Drop down menu layout for Account */

.dropbtn {
    background-color: #35393C;
    color: #63CCCA;
    padding: 16px;
    font-size: 16px;
    /* font-family: 'Red Hat Mono', monospace; */
    font-weight: bolder;
    border: none;
    cursor: pointer;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #63CCCA;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    /* font-family: 'Red Hat Mono', monospace; */
    font-weight: 600;
}

.dropdown-content a:hover {
    background-color: #397367;
    color: whitesmoke;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: #63CCCA;
    /* border: solid; */
    border-radius: 10%;
    /* padding: 20px; */
}