#start-btn {

    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;

    /* border: 1px black solid;
    text-align: center;
    margin: auto;
    font-size: 40px;
    border-radius: 10px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35vh;
    margin-left: auto;
    margin-right: auto;
    display: flex; 
    align-items: center; 
    justify-content: center;    */
}

#start-btn:hover{
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

#start-btn:active{
    color: #000
}

#start-btn:active::after{
    background: transparent;
}

#start-btn:hover:before {
    opacity: 1;
}

#start-btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.game-window {
    display: flex;
    position: relative;
    /* width: 40%; */
    justify-content: space-evenly;
    margin: 0px;
    padding: 0px;
}

.game-pictures {
    flex: 50%;
    padding: 5px;
    position: relative;
    display: grid;
    justify-items: center;
    transition: top ease 0.5s;

}

.game-pictures>img {
    padding: 0px;
    width: 700px;
    margin: 0px;
}

.text-content {
    position: absolute;
    color: black;
    background-color: whitesmoke;
}

.text-content:hover {
    top: -10px;
}

.game-pictures .player-name {
    top: 30%;
    left: auto;
    right: auto;
    /* color: white; */
    font-weight: 800;
    font-size: 50px;
    padding-left: 5px;
    padding-right: 5px;
    max-width: max-content;
}

.game-pictures .player-variablename {
    top: 45%;
    /* color: white; */
    font-weight: 800;
    font-size: 32px;
    padding-left: 5px;
    padding-right: 5px;
}

.game-pictures .player-value {
    top: 53%;
    /* color: white; */
    font-weight: 800;
    font-size: 32px;
    padding-left: 5px;
    padding-right: 5px;
}


#btn-higher {
    position: absolute;
    top: 70%;
    /* color: white; */
    font-weight: 800;
    font-size: large;
    padding: 3px;
}

#btn-lower {
    position: absolute;
    top: 75%;
    /* color: white; */
    font-weight: 800;
    font-size: large;
}

.scoreboard {
    border-radius: 15px;
    background-color: white;
    position: absolute;
    bottom: 40px;
    right: 14px;
    padding-left: 5px;
    padding-right: 5px;
    height: fit-content;
    width: fit-content;
}

.scoreboard > span {
    font-weight: 600;
}

.end-game {
    display: grid;
    /* flex-direction: column; */
    /* align-items: center; */
    border: 3px black solid;
    width: max-content;
    height: max-content;
    padding: 2px;
    justify-items: center;
    margin: auto;
    background-color: white;
    border-radius: 3px;
}

/* :root {
    --background-color: black;
    --text-color: white;
  }

[data-theme="dark"] {
    --background-color: white;
    --text-color: black;
  } */