body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

.register-container {
  width: 360px;
  background-color: white;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.form-field {
  margin: 20px 0 20px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  width: 90%;
  font-family: "Roboto", sans-serif;
}

.form-field {
  background: #f2f2f2;
}

.register-button {
  margin: 20px 0 20px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
  background: #4caf50;
  color: white;
  cursor: pointer;
}

.password-shown-btn {
  border-style: none;
  background-color: transparent;
  position: relative;
  left: 92%;
  
}
.new-user-email-input{
  color: red;
  font-size: 12px;
}

